@use "./colors.scss" as color;

.margin {
  margin: 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile {
  display: flex;
  margin-bottom: 2vw;
  width: 70%;
}

.profile > p {
  width: 100%;
}
.image_wrapper {
  width: 100%;
}

.soeren_p {
  padding-left: 100px;
}

.sinus_p {
  padding-right: 100px;
}

.map-container {
  width: 25%;
  height: 25vh;
}
