@use "./colors.scss" as color;

.cartPage {
  min-height: 50vh;
  // background-color: aquamarine;
  margin: 4rem 5%;
  h1 {
    text-align: center;
  }
}

.empty_cart {
  grid-column: 1/-1;
  text-align: center;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}
.cart_section {
  // border: solid 1px black;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 4rem;
  gap: 3rem;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
  }

  th {
    color: rgba(0, 0, 0, 0.67);
    font-size: 0.9rem;
    font-weight: 500;
  }
  td {
    text-align: center;
    padding: 0.5rem;
  }

  tr,
  aside {
    border-radius: 3px;
  }
  tr:nth-child(even) {
    background-color: #01589b0a;
  }
  aside {
    background-color: color.$blue-grey;
    padding: 1rem;
  }

  .cart_image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    // padding: 1rem;
    gap: 1rem;
    p {
      margin-bottom: 0;
      margin: auto;
      max-width: 12ch;
    }
  }
}

// .cart_item {
//   margin-top: 2rem;
// }
.cart_quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.2rem;
    box-shadow: none;
  }
  span {
    margin: 0 0.3rem;
    text-align: center;
    min-width: 1rem;
  }
}

.cart_remove {
  button {
    background: #fff;
    color: color.$blue-dark;
    margin: 0;
    padding: 0.5rem;
  }
  :hover {
    color: color.$accent-red;
  }
}

.checkoutBtn {
  text-align: center;
  justify-content: center;
}
@media only screen and (min-width: 800px) {
}
