@use "./colors.scss" as color;

.cart_section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem;
  gap: 3rem;

  table {
    width: 100%;
  }
  td {
    text-align: center;
  }

  aside {
    background-color: color.$blue-grey;
    padding: 1rem;
  }

  .cart_image {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.cart_quantity {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.2rem;
    box-shadow: none;
  }
  span {
    margin: 0 0.3rem;
    text-align: center;
    min-width: 1rem;
  }
}

.cart_remove {
  button {
    background: none;
    color: color.$blue-dark;
    margin: 0;
    padding: 0.5rem;
  }
  :hover {
    color: color.$accent-red;
  }
}
