@use "./colors.scss" as color;

.footer {
  color: color.$off-white;
  width: 100%;
  background-image: url("../public/images/footer_bg_large.png");
  background-size: cover;
  min-height: 12rem;
  display: flex;
}

.wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 75vw;
}

.soMe {
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  align-items: center;
}

.fb,
.ig,
.yt {
  display: block;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fb {
  background-image: url("../public/images/icon_fb.svg");
}

.ig {
  background-image: url("../public/images/icon_ig.svg");
}

.yt {
  background-image: url("../public/images/icon_yt.svg");
}

.schedule * {
  color: color.$off-white;
}

.schedule h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.locations {
  display: flex;
  gap: 2rem;

  h5 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  ul {
    font-weight: 200;
  }
}

.address {
  ul li {
    font-weight: 100;
  }

  ul > :first-child {
    font-weight: 400;
  }

  ul :last-child {
    text-decoration: underline;
  }
}
