@use "./colors.scss" as color;

.footer {
  color: color.$off-white;
  width: 100%;
  background-image: url("../public/images/footer_bg_large.png");
  background-size: cover;
  // min-height: 12rem;
  display: flex;
}

.wrapper {
  padding: 3rem 0;

  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.soMe {
  display: flex;
  gap: 10vw;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 0;
  }
}

.fb,
.ig,
.yt {
  display: block;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fb {
  background-image: url("../public/images/icon_fb.svg");
}

.ig {
  background-image: url("../public/images/icon_ig.svg");
}

.yt {
  background-image: url("../public/images/icon_yt.svg");
}

.schedule,
.address {
  display: none;
}

@media only screen and (min-width: 768px) {
  .soMe {
    gap: 2vw;
  }

  .schedule,
  .address {
    display: block;
  }
  .schedule * {
    color: color.$off-white;
  }

  .schedule h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .locations {
    display: flex;
    gap: 3rem;

    h5 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    ul {
      font-weight: 300;
    }
  }

  .address {
    ul li {
      font-weight: 300;
    }

    ul > :first-child {
      font-weight: 500;
    }

    ul :last-child {
      text-decoration: underline;
    }
  }
}
