// :root {
//   --header-font: "Roboto", sans-serif;
//   --accent-font: "titanium", sans-serif;
//   --body-font: "Roboto", sans-serif;
//   --blue: #01579b;
//   --blue-light: #0277bd;
//   --blue-ligher: #0288d1;
//   --blue-dark: #002f6c;
//   --white: #fff;
//   --off-white: #fafafa;
//   --grey-light: #c7c7c7;
//   --blue-grey: #cfd8dc;
//   --blue-grey-dark: #9ea7aa;
//   --accent-blue: #63ccff;
//   --accent-red: #d32f2f;
// }

$primary-font: "Roboto", sans-serif;
$accent-font: "titanium", sans-serif;
// $body-font: "Roboto", sans-serif;
$blue: #01579b;
$blue-light: #0277bd;
$blue-ligher: #0288d1;
$blue-dark: #002f6c;
$white: #fff;
$off-white: #fafafa;
$grey-light: #c7c7c7;
$blue-grey: #cfd8dc;
$blue-grey-dark: #9ea7aa;
$accent-blue: #63ccff;
$accent-red: #d32f2f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

html {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  background: none;
  border: solid 1px var(--blue-light);
  padding: 0.25rem;
}

// Category Page

.category-page {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > * {
    padding: 1rem 2rem;
  }

  .filters {
    border-right: solid 1px var(--blue-dark);
  }

  .products {
    margin-left: 3rem;
  }
}

// Product Tile
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 2rem;
}

.product-tile {
  max-width: 200px;
  text-align: center;
  padding: 1rem;
  cursor: pointer;

  img {
    max-width: 100%;
  }

  p,
  h3 {
    margin: 0.5rem 0 0 0;
  }

  h3 {
    color: var(--blue-dark);
  }

  .price span {
    font-weight: 700;
  }
}

.flight-score {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;

  p {
    font-size: 1.5rem;
    background-color: var(--blue-dark);
    color: var(--white);
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    margin: 0;
  }
}

// Product Page
.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 5rem;

  img {
    max-width: 100%;
  }

  h2 {
    color: var(--blue-dark);
  }

  .product-flight-score {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    color: var(--blue-dark);

    :last-child {
      border: none;
    }
  }

  .score {
    border-right: solid 1px var(--blue-dark);
    padding: 0 0.5rem;
    min-width: 4rem;

    p {
      margin: 0.5rem;
      text-align: center;
    }

    .number {
      font-size: 1.5rem;
    }
  }

  .price {
    color: var(--blue-light);
    font-size: 1.5rem;

    span {
      font-weight: 700;
    }
  }

  .only-stock {
    font-size: 0.8rem;
    color: var(--accent-red);
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-weight: 700;
    }
  }

  .input-grid {
    display: flex;
    gap: 1rem;
  }

  .quant-input {
    position: relative;
    width: fit-content;

    input {
      height: 1.5rem;
      padding: 0 1.75rem;
      width: 4rem;
      border: solid 1px var(--blue-light);
      text-align: center;
    }

    div {
      background-color: var(--blue-ligher);
      color: var(--white);
      position: absolute;
      top: 0;
      width: 1.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 300;
      cursor: pointer;
    }

    .minus {
      left: 0;
    }
    .plus {
      right: 0;
    }
  }
}
