$primary-font: "Roboto", sans-serif;
$accent-font: "titanium", sans-serif;
// $body-font: "Roboto", sans-serif;
$blue: #01579b;
$blue-light: #0277bd;
$blue-ligher: #0288d1;
$blue-dark: #002f6c;
$white: #fff;
$off-white: #fafafa;
$grey-light: #c7c7c7;
$blue-grey: #cfd8dc;
$blue-grey-dark: #9ea7aa;
$accent-blue: #63ccff;
$accent-red: #d32f2f;
$space-after: 10vw;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

@font-face {
  font-family: "titanium";
  src: url("../public/fonts/TitaniumMotorsStd-Oblique.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-size: 112.5%;
  min-height: 100vh;
  max-width: 100vw;
} /*18px*/

body {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(0, 0, 0, 0.87);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  // margin: 3rem 0 1.38rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.25;
}
.fullWidth {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

small,
.text_small {
  font-size: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

header {
  width: 100%;
}
main {
  padding-top: 3.5rem;
  min-height: 75vh;
  background-color: $white;
}

section {
  margin-bottom: $space-after;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue-dark;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

li {
  line-height: 1.25;
}

select {
  background: none;
  border: solid 1px var(--blue-light);
  padding: 0.25rem;
}

button {
  transition: all 0.3s;
}
button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: $blue;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: $off-white;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
  padding: 0.75rem 2rem;
  box-shadow: 4px 4px 0px $blue-dark;
}

button:hover {
  transform: translate(-1px, -1px);
}

.secondary-button {
  color: $blue-dark;
  border: solid 1px $blue-dark;
  background: $off-white;
}

.primary-button:hover {
  /* color: $blue-dark; */
  background-color: $blue-light;
  box-shadow: 4px 4px 0px $blue-dark;
}

.secondary-button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px var(--blue);
  background: var(--blue-light);
  border: none;
  color: var(--white);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

.section-link {
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  color: $blue-dark;
  border-bottom: solid 2px $blue-dark;
  &:hover {
    filter: brightness(2.5);
    transform: translate(0, -1px);
    transition: all 0.3s;
    // box-shadow: 1px 1px 2px #000;
  }
}

.arrow-blue::after {
  color: $blue-dark;
  content: url("../public/images/arrow-right.svg");
}

.arrowRight,
.arrowLeft {
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-size: contain;
  background-image: url("../public/images/expand_more.svg");
  // transform: rotate(270);
}

.arrowRight {
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.arrowLeft {
  transform: rotate(-270deg);
  transition: all 0.5s;
}
.desktop,
#desktopNav {
  display: none;
}
// landing page

.heroWrapper {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  h1 {
    font-family: $accent-font;
    color: $off-white;
    font-size: 7.5vw;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.87);
    // filter: drop-shadow(4px 4px 0 $blue-dark);
  }
}

.scheduleCard {
  width: 80%;
  // min-height: 10rem;
  display: grid;
  place-items: center;
  background-color: $blue-dark;
  color: $off-white;
  padding: 1.5rem 2rem;
  margin: -15% auto 0.5rem auto;
  box-shadow: $shadow;
  h2 {
    font-size: 1rem;
    color: $off-white;
  }
  h4 {
    text-align: center;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
    color: $off-white;
  }
  h5 {
    color: $off-white;
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }
  .locations {
    display: flex;
    gap: 3rem;
  }
  li {
    font-size: 0.8rem;
  }
}

.blue-link :hover {
  color: $blue-light;
}

section h2 {
  text-align: center;
  font-size: 2rem;
}

// REACT Collapsible
.Collapsible {
  margin: 1rem 0.5rem;
  cursor: pointer;

  .Collapsible__trigger {
    font-weight: 500;
    width: 100%;
    display: inline-block;
    border-bottom: solid 1px rgba(0, 0, 0, 0.35);
    padding-left: 0.25rem;
    padding-bottom: 0.15rem;
    margin-bottom: 0.5rem;
    position: relative;

    &:after {
      content: url("../public/images/expand_more.svg");
      scale: 0.6;
      position: absolute;
      right: -5px;
      top: -15px;
      display: block;
      transition: transform 300ms;
    }

    &.is-open {
      &:after {
        transform: rotateZ(180deg);
      }
    }
  }
}

@media only screen and (min-width: 550px) {
  .mobile,
  #mobileNav {
    display: none;
  }
  .desktop {
    display: block;
  }

  #desktopNav {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  section {
    h2 {
      font-size: 2.5rem;
    }
  }

  .heroWrapper {
    height: 70vh;
    h1 {
      font-size: 6vw;
    }
  }

  .scheduleCard {
    width: fit-content;
    min-height: 10rem;
    background-color: $blue-dark;
    color: $off-white;
    position: relative;
    padding: 1rem 3rem;
    margin-right: 10vw;
    margin-top: -5rem;
    display: grid;
    place-content: center;
  }

  .schedule {
    h4 {
      font-size: 1.25rem;
      color: $off-white;
      margin-bottom: 1rem;
    }
    h5 {
      color: $off-white;
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    li {
      font-size: 1rem;
    }
  }

  .locations {
    display: flex;
    gap: 3rem;

    h5 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    ul {
      font-weight: 300;
    }
  }
}
