// :root {
//   --header-font: "Roboto", sans-serif;
//   --accent-font: "titanium", sans-serif;
//   --body-font: "Roboto", sans-serif;
//   --blue: #01579b;
//   --blue-light: #0277bd;
//   --blue-ligher: #0288d1;
//   --blue-dark: #002f6c;
//   --white: #fff;
//   --off-white: #fafafa;
//   --grey-light: #c7c7c7;
//   --blue-grey: #cfd8dc;
//   --blue-grey-dark: #9ea7aa;
//   --accent-blue: #63ccff;
//   --accent-red: #d32f2f;
// }

$primary-font: "Roboto", sans-serif;
$accent-font: "titanium", sans-serif;
// $body-font: "Roboto", sans-serif;
$blue: #01579b;
$blue-light: #0277bd;
$blue-ligher: #0288d1;
$blue-dark: #002f6c;
$white: #fff;
$off-white: #fafafa;
$grey-light: #c7c7c7;
$blue-grey: #cfd8dc;
$blue-grey-dark: #9ea7aa;
$accent-blue: #63ccff;
$accent-red: #d32f2f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

// footer {
//   background-color: var(--blue-dark);
// }
