@use "../styles/colors" as color;

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  // padding: 0 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// featured
.featured {
  margin-top: 4rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  // border: solid 1px lime;
  // a {cursor: pointer;
  //   font-weight: 500;
  //   font-size: 1.2rem;
  //   color: color.$blue-dark;
  //   border-bottom: solid 2px color.$blue-dark;
  // }
}

.productTile {
  // max-width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
    // max-width: 250px;
    border-radius: 5px;
    transform: scale(105%);
    filter: brightness(1.1);
    transition: all 0.25s ease;
  }

  p {
    width: 100%;
  }

  img {
    object-fit: cover;
  }

  p,
  h3 {
    margin: 0;
  }

  h3 {
    color: color.$blue-dark;
    font-size: 1.25rem;
  }

  .price span {
    font-weight: 700;
  }

  .bold {
    font-weight: 500;
  }
}

.flightScore {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;

  p {
    font-size: 1.25rem;
    font-weight: 500;
    background-color: color.$blue-dark;
    color: color.$white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    margin: 0;
  }
}

.carousel {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.about {
  color: color.$off-white;
  background-image: url("../public/images/blue_basket_bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;

  article {
    font-size: 1.25rem;
    width: 90%;
    padding: 6rem 10%;
    margin: auto;
  }

  h2 {
    color: color.$off-white;
    // margin-bottom: 0;
    text-align: left;
  }

  button {
    margin-top: 2rem;
  }
}

.categoryGroup {
  display: flex;
  justify-content: space-between;
  width: 55vw;
  margin: auto;
  margin-top: 4rem;
}

.categoryCard {
  // position: relative;
  // max-width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  color: color.$blue-dark;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: underline;
  &:hover {
    transition: all 0.2s;
    transform: scale(1.015);
    filter: brightness(1.25);
    color: color.$blue-light;
  }
  &:active {
    color: color.$accent-blue;
  }
}

.catImage {
  width: 15vw;
  height: 15vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.discImage {
  background-image: url("../public/images/image6.jpg");
}

.bagImage {
  background-image: url("../public/images/backpack.png");
}

.accImage {
  background-image: url("../public/images/latitude64-tshirt.webp");
}

// brands

.brands {
  width: 75vw;
  .logos {
    text-align: center;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
  }
  // .tile {
  //   display: grid;
  // }
}
