@use "../styles/colors" as color;

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  // padding: 0 10%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// featured
.featured {
  margin-top: 4rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.carousel {
  width: 90%;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: space-evenly;
}

.productTile {
  max-width: 40vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  &:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
    // max-width: 250px;
    border-radius: 5px;
    transform: scale(105%);
    filter: brightness(1.1);
    transition: all 0.25s ease;
  }

  p {
    width: 100%;
  }

  img {
    object-fit: cover;
  }

  p,
  h3 {
    margin: 0;
  }

  h3 {
    color: color.$blue-dark;
    font-size: 1.25rem;
  }

  .price span {
    font-weight: 700;
  }

  .bold {
    font-weight: 500;
  }
}

.flightScore {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;

  p {
    font-size: 1rem;
    font-weight: 500;
    background-color: color.$blue-dark;
    color: color.$white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    margin: 0;
  }
}
.about {
  color: color.$off-white;
  background-image: url("../public/images/blue_basket_bg.webp");
  background-position: center;
  background-size: cover;
  width: 100%;

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    font-size: 1.15rem;
    width: 90%;
    padding: 4rem 5%;
    margin: auto;
  }

  h2 {
    color: color.$off-white;
    // margin-bottom: 0;
    text-align: center;
  }

  button {
    text-align: center;
    margin: auto;
  }
}

.categoryGroup {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  margin: auto;
  margin-top: 4rem;
}

.categoryCard {
  // position: relative;
  // max-width: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: color.$blue-dark;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: underline;
  &:hover {
    transition: all 0.2s;
    transform: scale(1.015);
    filter: brightness(1.25);
    color: color.$blue-light;
  }
  &:active {
    color: color.$accent-blue;
  }
}

.catImage {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.discImage {
  background-image: url("../public/images/image6.jpg");
}

.bagImage {
  background-image: url("../public/images/backpack.png");
}

.accImage {
  background-image: url("../public/images/latitude64-tshirt.webp");
}

// brands

.brands {
  width: 85vw;
  .logos {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .tile {
    width: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .carousel {
    width: 75%;
    gap: 2rem;
  }

  .productTile {
    max-width: 300px;
    min-width: 100px;
  }

  .flightScore {
    margin-bottom: 1rem;
    margin-top: 1rem;
    p {
      font-size: 1.25rem;
    }
  }

  //  about
  .about {
    article {
      padding: 6rem 10%;
      display: block;
      font-size: 1.25rem;

      // align-items: flex-start;
    }
    h2 {
      text-align: left;
    }
    button {
      margin: 3rem auto auto 0;
    }
  }

  // category
  .categoryGroup {
    flex-direction: row;
    width: 55vw;
    justify-content: space-between;
  }

  .categoryCard {
    gap: 1.25rem;
  }
  .catImage {
    width: 15vw;
    height: 15vw;
  }

  // brands
  .brands {
    width: 75vw;
    .logos {
      margin-top: 4rem;
      column-gap: 2rem;
      row-gap: 2rem;
    }
    .tile {
      width: 75px;
    }
  }
}
