@use "./colors.scss" as color;

.page {
  width: 100%;
  min-height: 100vh;
  padding-top: 5rem;
  left: 0;
  background-color: color.$white;
  z-index: -1;
  color: black;
  padding-bottom: 3rem;
  &::before {
    height: 400vh;
    background-color: black;
  }

  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 1rem;
    position: relative;
    margin: 1rem;
    // padding-bottom: 5rem;
    div {
      max-width: 170px;
    }
  }

  h2 {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2rem;
  }

  .search__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  input {
    width: 15rem;
    height: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px color.$blue-light;
    padding-left: 0.5rem;
    color: color.$blue-dark;
  }
  ::placeholder {
    color: color.$blue-dark;
  }

  h5 {
    text-align: center;
    margin-top: 2rem;
    color: color.$accent-red;
    font-size: 1rem;
  }

  .closeButton {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    path {
      fill: color.$blue-dark;
    }
    &:hover path {
      fill: color.$accent-blue;
    }
  }

  .pagination {
    display: flex;
    grid-column: 1/-1;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;

    button {
      padding: 0.5rem;
      min-width: 2rem;
      display: flex;
      justify-content: center;
    }

    button:not(.paginationButton) {
      background: none;
      color: color.$blue-dark;
      box-shadow: none;
      border: solid 1px color.$blue-dark;
    }

    button.active {
      background-color: color.$accent-red;
      color: white;
      border-color: color.$accent-red;
    }
  }
}

.searchIcon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
  background: color.$accent-red;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 2rem;
}
.spinner:before {
  content: "...";
  text-align: center;
  line-height: 50px;
  font-size: 60px;
  color: color.$off-white;
  top: 15px;
  left: 15px;
  z-index: 1;
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: color.$off-white;
}

.spinner:after {
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: linear-gradient(420deg, transparent 50%, color.$blue-light 50%), linear-gradient(90deg, color.$blue-light 50%, transparent 50%);
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .page {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }

  .spinner {
    margin-top: 2rem;
  }

  .pagination {
    button {
      margin: 0 0.25rem;
    }
  }
}
