@use "./colors.scss" as color;

.nav {
  width: 100%;
  color: color.$off-white;
  background-color: color.$blue-dark;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4vw;
  //   position: fixed;
  height: 3.5rem;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //   margin-bottom: 10vw;

  ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
  }
  // li {
  //   &:hover {
  //     transform: translate(-3rem, -3rem);
  //   }
  // }

  a {
    font-size: 1.1rem;
    font-weight: 500;
    // color: color.$off-white;
    text-decoration: none;
    &:hover {
      transition: all 0.3s;
      font-size: 1.125rem;
      font-weight: 600;
      text-shadow: 3px 2px 1px #001838;
      color: #fff;
    }
    // & .active {
    //   text-decoration: underline;
    //   border: solid 1px aqua;
    //   color: deeppink;
    // }
  }
}



.inactive {
  font-size: 3rem;
}

.leftWrapper,
.rightWrapper {
  display: flex;
  gap: 2rem;
}

.logoContainer {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  position: relative;
  background-image: url("./../public/images/DC_logo_new.svg");
  &:hover {
    transform: rotate(720deg) scale(1.05);
    transition: all 0.5s ease-in-out;
  }
}

.basket {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-image: url("../public/images/basket_white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: center;
  &:hover {
    filter: drop-shadow(0px 0px 10px #fafafa23);
    transform: scale(1.01);
  }
}

.countContainer {
  height: 1.25rem;
  width: 1.25rem;
  font-size: 0.8rem;
  // max-width: min-content;
  border-radius: 50%;
  background-color: color.$accent-red;
  display: grid;
  place-items: center;
  position: relative;
  right: -1.5rem;
  top: -0.5rem;
}

.active {
  border-bottom: solid 2px #fff;
  color: #fff;
  
  
}