@use "./colors.scss" as color;

// Product Page
.product_page {
  display: flex;
  flex-direction: column;
  // gap: 5rem;
  margin: 5rem 5%;
  margin-top: 0;
  .left {
    display: flex;
    flex-direction: column;
    grid-row: 2;
  }

  .right {
    margin: 0;
    align-items: left;
    grid-row: 2;
  }
  .arrow_left {
    position: absolute;
    left: -2rem;
    top: 43%;
  }
  .arrow_rigth {
    position: absolute;
    right: -2rem;
    top: 43%;
  }

  .imgContainer {
    display: grid;
    place-items: center;
    // height: 75%;
    // width: 75%;
    margin: auto;
  }

  h2 {
    color: color.$blue-dark;
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 2rem;
  }

  button {
    margin: 2rem auto;
  }

  .product_flight_score {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    color: color.$blue-dark;

    :last-child {
      border: none;
    }
  }

  .score {
    border-right: solid 1px color.$blue-dark;
    padding: 0 0.5rem;
    min-width: 4rem;
    font-size: 1rem;

    p {
      margin: 0.5rem;
      text-align: center;
    }

    .number {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .price {
    color: color.$blue-light;
    font-size: 1.5rem;
    text-align: center;

    span {
      font-weight: 700;
    }
  }

  .only_stock {
    font-size: 0.8rem;
    color: color.$accent-red;
  }

  .input_group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    label {
      font-weight: 700;
    }
  }

  .input_grid {
    display: flex;
    gap: 1rem;
  }

  .quant_input {
    position: relative;
    width: fit-content;

    input {
      height: 1.5rem;
      padding: 0 1.75rem;
      width: 4rem;
      border: solid 1px color.$blue-light;
      text-align: center;
    }

    div {
      background-color: color.$blue-ligher;
      color: color.$white;
      position: absolute;
      top: 0;
      width: 1.5rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 300;
      cursor: pointer;
    }

    .minus {
      left: 0;
    }
    .plus {
      right: 0;
    }
  }
  .breadcrumbs {
    font-size: 0.9rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    margin-left: 18vw;
  }
  .breadcrumbs > a {
    text-decoration: underline;
    opacity: 0.7;
    margin-left: 0.1rem;
  }
  .breadcrumbs > span {
    opacity: 0.7;
  }
}
.basketContainer {
  height: 1.5rem;
  width: 1.5rem;
  // border: solid 1px lime;
  background-image: url("../public/images/basket_white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 768px) {
  .product_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 3rem;
    margin: 5rem;
    margin-top: 0;

    .right {
      display: block;
      margin: 2rem 0;
    }

    .price {
      text-align: left;
    }
    button {
      margin: 2rem 0;
    }
    .breadcrumbs {
      grid-column: 1/-1;
      margin-left: 10vw;
    }

    .breadcrumbs a {
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}
